In [17]:
import pandas as pd
examples = []
count = 1
with open("examples/price_big", "r") as file:
    for line in file.readlines():
        examples.append([count, line, 1])
        count+=1

with open("examples/not_price_big", "r") as file:
    for line in file.readlines():
        examples.append([count, line, 0])
        count+=1

In [18]:
examples

[[1, 'This particular location has a good check in deal.\n', 1],
 [2,
  "some of the items they sale here are a bit over priced but if you don't mind paying a bit extra this is the place to go. \n",
  1],
 [3,
  'They have some great offers going on now with even 70% off on some items.\n',
  1],
 [4,
  'Prices vary so you have to shop around, but every once in a while you can find a really awesome deal.\n',
  1],
 [5, 'Too many other places to shop with better prices.\n', 1],
 [6, 'Prices were reasonable and mission accomplished!\n', 1],
 [7, "disappointed in the fact they don't tell you the price\n", 1],
 [8, '50$ for buffet and mind you i only ate crab legs\n', 1],
 [9,
  'Unbelievable, it was me & my mother so it was a total of 100$ i could have gone to red lobster and ate better quality of food.\n',
  1],
 [10,
  "A little expensive but I'll definitely be back time and time again\n",
  1],
 [11,
  'When we were about to pay , the server handed us a bill and I reminded her that we were using the 1/2 off Scoutmob deal , so she took the bill back and came back with another that was pretty much the same except $ 8 difference ... REALLY ? ! ?\n',
  1],
 [12,
  'Only downside : three entrees served simultaneously but fourth ( beet/ goat cheese ravioli ) was 2 - 3 minutes later which allowed my accompaniments ( delicious creamy polenta ) to cool off to much .\n',
  1],
 [13,
  'My other dining companions seemed pleased with their food ( one ordered a veal marsala that I did not try and the other - my favorite - ordered off the menu , actually , a request they were kind enough to accommodate - it was gnocchi caprese with pesto sauce instead of tomato sauce , and it was gooeyyummydelicious ) !\n',
  1],
 [14,
  'This place is only worth your time if you are looking for discount designer jeans .\n',
  1],
 [15,
  'They have coupons discount for first second and third time customers through their website .\n',
  1],
 [16, 'Me : Then why did you tell me they were on discount ?\n', 1],
 [17, 'Adult tickets are $ 13.50 but they have military discount .\n', 1],
 [18, 'And they let me apply the discount to both of our tickets .\n', 1],
 [19,
  "I 've been using this Discount Tire location for many years and for my last 3 vehicles .\n",
  1],
 [20,
  'I love that for things you order regularly you can establish a standing order and get a 5 % discount ( milk , eggs , etc . ) .\n',
  1],
 [21,
  'Prices vary so you have to shop around, but every once in a while you can find a really awesome deal.\n',
  1],
 [22, 'Too many other places to shop with better prices.\n', 1],
 [23,
  'I was looking for golf shoes, and found some that felt good and fit well but had no price.\n',
  1],
 [24,
  'While he checked on the price (which seemed to take much more effort than it should have), I found the shoes on-line for almost half the price.\n',
  1],
 [25, 'Some of the items they sale here are a bit over priced\n', 1],
 [26,
  'The shoe was on special price so we got a good deal and bought the shoe as well!\n',
  1],
 [27,
  'Prices vary so you have to shop around, but every once in a while you can find a really awesome deal.\n',
  1],
 [28, 'Too many other places to shop with better prices.\n', 1],
 [29,
  'I was looking for golf shoes, and found some that felt good and fit well but had no price.\n',
  1],
 [30,
  "but they are more expensive than what I've paid in the past and what another shop charges\n",
  1],
 [31,
  'I purchased a Gibeon Meteorite and black zirconium wedding band from Rings Unique for approximately $1200.\n',
  1],
 [32, "For the amenities and $ paid, it's small.\n", 1],
 [33, 'I bought a Living Social deal $30 for $60 awhile back.\n', 1],
 [34, 'Prices here are very reasonable!\n', 1],
 [35,
  "Only issue I have with this place is that they've raised their prices twice in the last year and now it's $2.10 for almost every plate which I think is very high for what you get\n",
  1],
 [36,
  'For the money we paid (over 80 $ for 1 appetizer, 2 dinners, 2 drinks) we could not eat much\n',
  1],
 [37, "Hence the food is way too pricey for what's offered\n", 1],
 [38,
  'You get a much much larger portion for the same price at SFU (the bowl is over-flowing).\n',
  1],
 [39,
  'Rodney and his crew gave us a great price and did the work so quick, literally, it was done before we knew it\n',
  1],
 [40, 'needless to say whomever told me this , is a genius .\n', 0],
 [41,
  "My parents told me a horror story about their friends ' wedding photographer , who insisted on always getting the shot he wanted .\n",
  0],
 [42, 'Customer service told me " nothing was rescheduled"\n', 0],
 [43,
  "The woman told me that her manager said yes they have the calls recorded , but he will not listen to them , and that she was ' proceeding to cancel this call ' ..\n",
  0],
 [44,
  "We arrived at 6 pm and the employees told us the order was n't ready .\n",
  0],
 [45, 'She then decided that the only thing to do was be rude to me.\n', 0],
 [46, 'the lines may be long at times\n', 0],
 [47, 'The store was clean and well organized\n', 0],
 [48,
  "I still believe he did n't want to help to sit us together and used poor judgement setting up the tables\n",
  0],
 [49,
  'It took the one and only waitress at least 1 hour to serve our food.\n',
  0],
 [50, 'My phone screen was replaced in 30 minutes and looks great.\n', 0],
 [51, 'All the instructors are friendly and helpful. \n', 0],
 [52,
  "The staff is always friendly and they make you feel comfortable even when you're getting uncomfortable work done.\n",
  0],
 [53,
  'Perfect little spot with healthy options and everything was so delicious.\n',
  0],
 [54, 'Super quick food lines and attentive employees.\n', 0],
 [55, 'Staff is nice and would help to fulfill your requests.\n', 0],
 [56, 'I did end up finding the perfect doll.\n', 0],
 [57,
  'I love their location in LA and was hoping to get the great service I usually get when I shop over there.\n',
  0],
 [58,
  'The server (Scottie) I think was trying to hard to be funny and came across as rude and careless in my opinion.\n',
  0],
 [59, 'the interior is clean and has an almost perfect health rating\n', 0],
 [60,
  'The manager and staff were friendly, which is always a nice bonus.\n',
  0],
 [61,
  'Today we waited over ten minutes behind one car in the drive thru for their single order\n',
  0],
 [62, 'Fabulous service and awesome food\n', 0],
 [63, 'The wait staff is attentive and knowledge\n', 0],
 [64, 'I am not from the area, and parking is tough\n', 0],
 [65,
  'The only problem we really had was the ladies at the front office were sorta rude and looked annoyed at us.\n',
  0],
 [66, 'This man is unstable and incompetent as a manager\n', 0],
 [67, 'Environment is very open, clean and comfortable.\n', 0],
 [68,
  "There's nothing striking about the environment or decor here, but do not leave without trying the dried, sautéed green beans\n",
  0],
 [69,
  'I sat outdoors and enjoyed the nice string lighting and music that was playing\n',
  0],
 [70,
  'The food quality is average and their service is slower than slow\n',
  0],
 [71, 'There was a nice beer and cocktail list to choose from as well. \n', 0],
 [72,
  "Service was awful, bathrooms were filthy and Wellesley's stupid blue law about requiring every patron to order food while drinking is absurb.\n",
  0]]

In [19]:
df = pd.DataFrame(examples, columns=["id","example", "positive"])
df = df.set_index("id")

In [21]:
df.tail()

                                              example  positive
id
68  There's nothing striking about the environment...         0
69  I sat outdoors and enjoyed the nice string lig...         0
70  The food quality is average and their service ...         0
71  There was a nice beer and cocktail list to cho...         0
72  Service was awful, bathrooms were filthy and W...         0

In [22]:
df.to_csv("examples/df/price.csv")

In [2]:
import pandas as pd
df_price_service = pd.read_csv("examples/df/price_service.csv")

In [7]:
df_price_service = df_price_service.drop("theme", axis=1)

In [10]:
ids = [x for x in range(df_price_service.shape[0])]

In [11]:
df_price_service["id"] = ids

In [15]:
df_price_service.set_index("id").to_csv("examples/df/price_service.csv")

In [16]:
pd.get_dummies(df_price_service, columns=["Label"])

,id,example,positive,Label_environment,Label_none,Label_price,Label_products,Label_service
0,0,This particular location has a good check in d...,1,0,0,1,0,0
1,1,some of the items they sale here are a bit ove...,1,0,0,1,0,0
2,2,They have some great offers going on now with ...,0,0,0,0,0,1
3,3,"Customer service told me "" nothing was resched...",0,0,0,0,0,1
4,4,The woman told me that her manager said yes th...,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...
100,100,"The rooms are nice, spacious and cozy. The hug...",0,1,0,0,0,0
101,101,I tried to contact them through the app and we...,1,0,0,0,0,1
102,102,The waiter was also really nice and the atmosp...,1,0,0,0,0,1
103,103,Large selection of dishes for under $9 and the...,0,0,0,1,0,0
104,104,Lots of free parking in the rear of the restau...,0,1,0,0,0,0

In [2]:
import pandas as pd
theme = "price_service"
data = pd.read_csv(f"examples/df/{theme}.csv")

In [5]:
data["positive"] = data["label"].apply(lambda x: 1 if x=="price" else 0)

In [6]:
data.head()

   id                                            example  positive    label
0   0  This particular location has a good check in d...         1    price
1   1  some of the items they sale here are a bit ove...         1    price
2   2  They have some great offers going on now with ...         1    price
3   3  Customer service told me " nothing was resched...         0  service
4   4  The woman told me that her manager said yes th...         0  service