In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("data.csv")

In [3]:
non_hate = df[df["class"]==2]["tweet"].values.tolist()
hate_speech = df[df["class"]==0]["tweet"].values.tolist()
offensive = df[df["class"]==1]["tweet"].values.tolist()

In [4]:
import re
pattern = r'@'

for i, org_string in enumerate(non_hate):
    temp = re.sub(r'http\S+', '', org_string)
    # temp = re.sub('\W+', '', temp)
    non_hate[i] = re.sub(pattern, '', temp)

for i, org_string in enumerate(hate_speech):
    temp = re.sub(r'http\S+', '', org_string)
    # temp = re.sub('\W+', '', temp)
    hate_speech[i] = re.sub(pattern, '', temp)

for i, org_string in enumerate(offensive):
    temp = re.sub(r'http\S+', '', org_string)
    # temp = re.sub('\W+', '', temp)
    offensive[i] = re.sub(pattern, '', temp)

In [5]:
len(non_hate)+ len(hate_speech)+ len(offensive)

24783

In [7]:
import random
ids = random.sample(range(0, len(hate_speech)), 200)
new_hate = []
for id in ids:
    new_hate.append(hate_speech[id])

ids = random.sample(range(0, len(non_hate)), 200)
new_non_hate = []
for id in ids:
    new_non_hate.append(non_hate[id])

ids = random.sample(range(0, len(offensive)), 200)
new_offensive = []
for id in ids:
    new_offensive.append(offensive[id])

In [8]:
dff = pd.DataFrame()
dff["example"] = new_hate+new_non_hate+new_offensive

In [10]:
dff["label"] = ["hate"]*200 + ["none"]*200 + ["offensive"]*200

In [15]:
dff = dff.sample(dff.shape[0])

In [17]:
dff.to_csv("hate_speech.csv")

In [5]:
import pandas as pd
dff=pd.read_csv("hate_speech.csv")
dff["positive"] = dff["label"].apply(lambda x: 0 if x=="none" else 1)

In [7]:
dff.to_csv("hate_speech_binary.csv")

# Hatexplain

In [1]:
import pandas as pd
df_new = pd.DataFrame()
df = pd.read_json("hatexplain.json").T

In [2]:
df.head(5)

,post_id,annotators,rationales,post_tokens
1179055004553900032_twitter,1179055004553900032_twitter,"[{'label': 'normal', 'annotator_id': 1, 'targe...",[],"[i, dont, think, im, getting, my, baby, them, ..."
1179063826874032128_twitter,1179063826874032128_twitter,"[{'label': 'normal', 'annotator_id': 1, 'targe...",[],"[we, cannot, continue, calling, ourselves, fem..."
1178793830532956161_twitter,1178793830532956161_twitter,"[{'label': 'normal', 'annotator_id': 4, 'targe...",[],"[nawt, yall, niggers, ignoring, me]"
1179088797964763136_twitter,1179088797964763136_twitter,"[{'label': 'hatespeech', 'annotator_id': 1, 't...","[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...","[<user>, i, am, bit, confused, coz, chinese, p..."
1179085312976445440_twitter,1179085312976445440_twitter,"[{'label': 'hatespeech', 'annotator_id': 4, 't...","[[0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...","[this, bitch, in, whataburger, eating, a, burg..."

In [3]:
df_new["id"] = df["post_id"]

In [4]:
df_new["sentence"] = df["post_tokens"].apply(lambda x: " ".join(x))

In [5]:
df["annotators"][3]

[{'label': 'hatespeech', 'annotator_id': 1, 'target': ['Asian']},
 {'label': 'offensive', 'annotator_id': 4, 'target': ['Asian']},
 {'label': 'hatespeech', 'annotator_id': 3, 'target': ['Asian']}]

In [6]:
def getlabels(row):
    lbls = [x['label'] for x in row]
    return list(set(lbls))
def getmajorlabel(row):
    lbls = [x['label'] for x in row]
    return max(lbls, key=lbls.count)

In [7]:
df_new["lables"] = df["annotators"].apply(getlabels)

In [8]:
df_new["label"] = df["annotators"].apply(getmajorlabel)

In [11]:
df_new["id"].apply(lambda x: x.split(" ")[0])

1179055004553900032_twitter    1179055004553900032_twitter
1179063826874032128_twitter    1179063826874032128_twitter
1178793830532956161_twitter    1178793830532956161_twitter
1179088797964763136_twitter    1179088797964763136_twitter
1179085312976445440_twitter    1179085312976445440_twitter
                                          ...
9989999_gab                                    9989999_gab
9990225_gab                                    9990225_gab
9991681_gab                                    9991681_gab
9992513_gab                                    9992513_gab
9998729_gab                                    9998729_gab
Name: id, Length: 20148, dtype: object

In [12]:
df_new.to_csv("Hello")

In [15]:
df_new.drop("id", axis=1)

,sentence,lables,label
1179055004553900032_twitter,i dont think im getting my baby them white 9 h...,[normal],normal
1179063826874032128_twitter,we cannot continue calling ourselves feminists...,[normal],normal
1178793830532956161_twitter,nawt yall niggers ignoring me,"[hatespeech, normal]",normal
1179088797964763136_twitter,<user> i am bit confused coz chinese ppl can n...,"[hatespeech, offensive]",hatespeech
1179085312976445440_twitter,this bitch in whataburger eating a burger with...,"[hatespeech, offensive]",hatespeech
...,...,...,...
9989999_gab,if ur still on twitter tell carlton i said his...,"[normal, offensive]",offensive
9990225_gab,when i first got on here and said i hate trump...,"[normal, offensive]",offensive
9991681_gab,was macht der moslem wenn der zion gegen seine...,"[normal, offensive]",normal
9992513_gab,it is awful look at world demographics asians ...,"[hatespeech, offensive]",hatespeech
9998729_gab,the jewish globalist elite have only imported ...,"[hatespeech, offensive]",offensive

In [16]:
df_new.to_csv("hatexplain.csv")

In [19]:
df_samll = df_new.sample(600)
df_samll.to_csv("hatexplain_small.csv")

In [1]:
import pandas as pd
df = pd.read_csv("../examples/df/price_service.csv")
df["id"] = df["id"].apply(lambda x: f"s{x}")
df.set_index("id", inplace=True)

In [2]:
df.head()

                                               example  positive    label
id
ss0  This particular location has a good check in d...         1    price
ss1  some of the items they sale here are a bit ove...         1    price
ss2  They have some great offers going on now with ...         1    price
ss3   Customer service told me nothing was rescheduled         0  service
ss4  The woman told me that her manager said yes th...         0  service

In [4]:
import spacy

nlp = spacy.load("en_core_web_sm")
def tokenizer(sent):
    s = nlp(sent)
    new_sent = ""
    for i in s:
        new_sent +=f"{i} "
    return new_sent

In [5]:
df['example'] = df['example'].apply(lambda x: tokenizer(x))

In [10]:
df.head()

                                               example  positive    label
id
ss0  This particular location has a good check in d...         1    price
ss1  some of the items they sale here are a bit ove...         1    price
ss2  They have some great offers going on now with ...         1    price
ss3  Customer service told me nothing was rescheduled          0  service
ss4  The woman told me that her manager said yes th...         0  service

In [11]:
df.to_csv("../examples/df/price_service.csv")

In [2]:
import pandas as pd
df = pd.read_csv("../cache/service_99914b932bd37a50b983c5e7c90ae93b.csv")

In [5]:
df["sentences"].values.tolist()

['Customer service told me " nothing was rescheduled"\n',
 "The woman told me that her manager said yes they have the calls recorded , but he will not listen to them , and that she was ' proceeding to cancel this call ' ..\n",
 'This particular location has a good check in deal.\n',
 "some of the items they sale here are a bit over priced but if you don't mind paying a bit extra this is the place to go. \n",
 'They have some great offers going on now with even 70% off on some items.',
 'Prices were reasonable and mission accomplished!\n',
 '50$ for buffet and mind you i only ate crab legs']